<div class="form-container">
  <form class="example-form">
    <div style="width: 100%">
      <div class="flex">
        <div class="colonne">
          <button>+</button>
          <span class="value">5</span>
          <button>-</button>
        </div>
        <div class="colonne">
          <button>+</button>
          <span class="value">5</span>
          <button>-</button>
        </div>
        <div class="colonne">
          <button>+</button>
          <span class="value">5</span>
          <button>-</button>
        </div>
        <div class="colonne">
          <button>+</button>
          <span class="value">5</span>
          <button>-</button>
        </div>
        <div class="colonne">
          <button>+</button>
          <span class="value">5</span>
          <button>-</button>
        </div>
        <div class="colonne">
          <button>+</button>
          <span class="value">5</span>
          <button>-</button>
        </div>
      </div>
    </div>
    <div style="width: 100%">
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </form>
</div>
