html {
  background-color: #333;
  color:#fff;
  font-family: Helvetia;
}

button:active {
  color:#ff6600 !important;
  background-color: black !important;
}

a:link, a:visited, a:active {
  color:#fff;
}

body {
  margin:0;
}
